@charset "UTF-8";

.title {
    padding: 20px 0 10px 3rem
}

.bonuslist {
    padding: 0 0 0 7rem;
    font-size: 2rem;
}

.bonusmain:nth-of-type(n+2) {
    margin: 50px 0 0 0;
}

.bonusitem {
    list-style: none;
    font-size: 0.8em;
}