@charset "UTF-8";

.main {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.name {
    text-align: right;
    font-size: 1.8rem;
    margin: 0.8rem;
    padding: 0 1.5rem 0 0;
    width: 100%;
}
